* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px;
  height: 360px;
  width: 180px;
  border-radius: 12px;
  border: solid 1px rgba(0, 0, 0, 0.262);
  box-shadow: rgba(0, 0, 0, 0.262) 2px 2px 12px;
}

.card-body {
  text-align: center;
}

.btn-card {
  height: 2rem;
  width: 100%;
  border-radius: 6px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 16px 24px;
  width: 100%;
  height: fit-content;
  background-color: rgb(18, 18, 18);
}

.btn-cart {
  height: 2rem;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 6px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-cart::before {
  content: "🛒";
}

.contenedor-productos {
  width: 80%;
  margin: 48px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contenedor {
  display: flex;
}

.carrito {
  width: 560px;
  height: 480px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 24px 16px;
  border-radius: 12px;
  border: solid 1px rgba(0, 0, 0, 0.262);
  box-shadow: rgba(0, 0, 0, 0.262) 2px 2px 12px;
}

.precio-total {
  margin-top: auto;
  width: 100%;
  text-align: end;
  padding: 0px 12px;
}

.lista-carrito {
  height: auto;
  margin: 16px;
  overflow: auto;
}

.elemento-lista-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
